# This is Git's per-user configuration file.
[user]
	name = Joe Love
	email = git@joelove.dev
[rebase]
	updateRefs = true
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
